/* Стили для экранов с разрешением более 2000px */
@media (min-width: 2000px) {
    html {
        font-size: 17px; /* Размер шрифта для крупных экранов */
        font-family: 'Montserrat', sans-serif; /* Шрифт для всей страницы */
        color: #333; /* Цвет текста */
    }

    .container {
        min-height: 1000px; /* Минимальная высота контейнера */
        max-width: 70%; /* Максимальная ширина контейнера */
        margin: 2rem auto; /* Отступы сверху и снизу, центрирование */
        background: #ffffff; /* Фон контейнера */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень вокруг контейнера */
        padding: 2rem; /* Внутренние отступы */
        border-radius: 8px; /* Скруглённые углы */
    }

    .main {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 20px;
          padding: 20px;
          margin-bottom: 10%;
        }
}

/* Стили для экранов с разрешением до 2000px */
@media (max-width: 2000px) {
    html {
        font-size: 15.5px; /* Размер шрифта для меньших экранов */
        font-family: 'Montserrat', sans-serif; /* Шрифт для всей страницы */
        color: #333; /* Цвет текста */
    }

    .container {
        min-height: 800px; /* Минимальная высота контейнера */
        max-width: 75%; /* Максимальная ширина контейнера */
        margin: 2rem auto; /* Отступы сверху и снизу, центрирование */
        background: #ffffff; /* Фон контейнера */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень вокруг контейнера */
        padding: 2rem; /* Внутренние отступы */
        border-radius: 8px; /* Скруглённые углы */
    }

    .main {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      padding: 20px;
      margin-bottom: 5%;
    }
}



body {
      margin: 0;
      line-height: 1.5;
    }



header {
    display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      border-bottom: 2px solid #eeeeee;
      margin-bottom: 5%;
      margin-top: 1%;
    }


.logo {
      flex: 1;
      font-weight: bold;
      font-size: 2rem;

    }

.sections {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
    }

.sections ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }


.sections li {
      margin-right: 20px;
      cursor: pointer;
      white-space: nowrap;
      position: relative;
      overflow: hidden;
      transition: transform 0.3s, color 0.3s;
    }

.sections li:hover {
    color: #252525;
    transform: scale(1.1);
}

.sections li::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300%; /* Большой размер для полного покрытия кнопки */
      height: 300%;

      border-radius: 50%;
      transition: transform 0.5s, opacity 0.3s;
      transform: scale(0);
      opacity: 0;
      z-index: -1;
    }

.sections li:not(:last-child):after {
      content: "|";
      margin-left: 20px; /* разделительные линии между пунктами навигации */
    }

.sections li:hover::before {
      transform: scale(1);
      opacity: 1;
      transition: transform 0.5s, opacity 0.5s;
    }


.sections li:last-child {
      margin-right: 0;
      cursor: pointer;
    }

.sections li:not(:last-child):after {
      content: '';
      margin: 0;
    }

.clock {
      flex: 1;
      text-align: right;
      display: flex; /* Применить flex к контейнеру с часами и иконкой */
      align-items: center; /* Выровнять элементы по центру по вертикали */
      justify-content: flex-end; /* Выровнять элементы по правому краю */
    }

.light {
      height: auto;
      align-items: center;
      margin-left: 2%;
      cursor: pointer;
        width: 15px;
    }




.dark-mode {
  /* Стили для темной темы */
  background-color: #191919; /* Темный фон для всей страницы */
  color: #ffffff; /* Ярко-белый текст для лучшего контраста и читаемости */
}

.dark-mode body {
  background-color: #1B1B1BFF; /* Темный фон теперь применяется ко всему body, а не только к .container */
}

.dark-mode header {
  border-color: #191919; /* Подправленный цвет границы под header */
  /* Остальные стили для header... */
}

.dark-mode .container {
  background: #1e1e1e; /* Немного светлее, чтобы контейнер выделялся на общем фоне */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Светлая тень для контейнера в темной теме */
}

.dark-mode .light {
  filter: invert(1); /* Инверсия иконки на светлую версию в темной теме */
}

.dark-mode .capcha {
    background-color: #333; /* Темный фон */
    padding: 10px;
    border-radius: 8px;
    filter: brightness(0.9) contrast(0.9);
}


/* Подправим цвета для элементов в темной теме */
.dark-mode a, .dark-mode .sections li, .dark-mode .content h2, .dark-mode .content h3, .dark-mode .description h3 {
  color: #ffffff; /* Установить белый цвет текста для элементов в темной теме */
}

.dark-mode .sections li:not(:last-child):after {
  color: #525252; /* Светлый разделитель в темной теме для видимости */
}

.dark-mode .project {
  background: #2e2e2e; /* Темный фон для карточек */
  color: #ffffff; /* Светлый текст для карточек */
  border: 1px solid #2e2e2e; /* Светлый оттенок для границы карточек */
}

/* Стили для описания проектов в темной теме */
.dark-mode .description {
  background: #2e2e2e; /* Фон описания внутри карточек */
  color: #cfcfcf; /* Цвет текста описания */
  /* Остальные стили для .description... */
}

.dark-mode .description p, .dark-mode .about-me p, .dark-mode .tech-stack p {
  color: #b5b5b5; /* Светлый текст для параграфов в темной теме */
}

.dark-mode .contact-container {
  background: #222; /* Темный фон для контейнера */
  color: #ccc; /* Светло-серый текст для лучшей читаемости на темном фоне */
}

.dark-mode .contact-container a {
  color: #ff8c00; /* Ярко-оранжевый цвет для ссылок, хорошо виден на темном фоне */
  transition: color 0.3s; /* Плавное изменение цвета при наведении */
}

.dark-mode .contact-container a:hover {
  color: #ffa500; /* Светлый оранжевый цвет при наведении для улучшенной видимости */
  text-decoration: underline; /* Подчеркивание при наведении */
}

.dark-mode .contact-item img {
  filter: brightness(0.8); /* Уменьшение яркости изображений, чтобы они были менее броскими */

}

.dark-mode .contact-item {
  border-bottom: 1px solid #444; /* Темно-серая линия под каждым контактом */
}

.dark-mode .contact-container h1 {
  color: #fff; /* Белый цвет заголовков для контрастности */
}

/* Теперь тень для .project в темной теме */
.dark-mode .project:hover {
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1); /* Тень с более светлым оттенком в темной теме */
}

.dark-mode .reviews-container {
    background-color: #1e1e1e; /* Темный фон для контейнера */
    color: #ffffff; /* Белый текст для контраста */
    border-color: #333333; /* Темный цвет границы */
}

/* Темные стили для заголовков внутри контейнера */
.dark-mode .reviews-title {
    color: #ffffff; /* Белый цвет для заголовка */
}

/* Темные стили для списка отзывов */
.dark-mode .reviews-list {
    /* По желанию, здесь могут быть добавлены стили для списка, если требуется */
}

/* Темные стили для элемента списка отзывов */
.dark-mode .reviews-item {
    background-color: #262626; /* Чуть светлее, чем фон контейнера */
    border-color: #333333; /* Темная граница для элементов списка */
}

/* Темные стили для текста отзыва */
.dark-mode .review-text {
    color: #cccccc; /* Светло-серый текст для лучшей читаемости */
}

/* Темные стили для изображений в отзывах */
.dark-mode .review-img {
    border-color: #424242; /* Темная граница вокруг изображений */
}

/* Темные стили для формы отзывов */
.dark-mode .reviews-form {
    background-color: #2e2e2e; /* Темный фон для формы */
    border-color: #333333; /* Темная граница формы */
}

/* Темные стили для полей ввода и текстового поля */
.dark-mode .reviews-input, .dark-mode .reviews-textarea {
    background-color: #333333; /* Темный фон для полей ввода */
    color: #ffffff; /* Белый текст */
    border-color: #444444; /* Светлее, чем фон, граница */
}

/* Темные стили для кнопок */
.dark-mode .reviews-submit-button {
    background-color: #4CAF50; /* Зеленый фон для кнопки */
    color: #ffffff; /* Белый текст */
}

.dark-mode .reviews-submit-button:hover {
    background-color: #45a049; /* Темно-зеленый при наведении */
}



.photo-container {
  display: flex; /* Используйте flex-режим для контейнера */
  flex-direction: row; /* Элементы располагаются вертикально */
  align-items: center; /* Выравнивание дочерних элементов по центру по горизонтали */
  margin-right: 5%; /* Отступ справа, если он необходим */
  text-align: center; /* Выравнивание текста по центру внутри контейнера */
}

.photo {
  width: 400px; /* Установленная ширина */
  height: 400px; /* Установленная высота, чтобы создать круг */
  border-radius: 50%; /* Создает круглую форму */
  object-fit: cover; /* Обеспечивает, чтобы изображение надлежаще заполняло пространство */
  border: 0 solid black; /* Граница фотографии */
  margin-bottom: 20px; /* Отступ снизу, чтобы отделить фото от текста */
  cursor: pointer; /* Курсор указателя */
}

.content {
  max-width: 30%; /* Максимальная ширина контента */
}

.content h2, .content h3 {
  color: #4CAF50; /* Цвет заголовков */
}

.about-me, .tech-stack {
  margin-bottom: 20px;
}

.about-me p, .tech-stack p {
  color: #191b1e; /* Цвет текста */
  font-size: 1rem;
}

a {
  text-decoration: none; /* Убирает подчеркивание у всех ссылок */
}

.reviews-title {
        text-align: center;
    }

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Адаптивное отображение карточек */
  gap: 20px; /* Расстояние между карточками */
  padding: 20px;
  justify-content: center;
    margin-bottom: 20%;
}

.project {
    height: 550px;
  background: #fff; /* Фон карточки */
  border: 1px solid #e1e1e1; /* Тонкая граница для контура */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень для создания эффекта "всплывания" */
  border-radius: 10px; /* Скругленные углы */
  overflow: hidden; /* Обрезает содержимое и фоновые изображения */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавный эффект для наведения */
}

.project:hover {
  transform: translateY(-5px); /* Поднимает карточку при наведении */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); /* Увеличивает тень при наведении */
}

.img-project {
  width: 100%; /* Ширина изображения равна ширине карточки */
  height: auto; /* Высота автоматически изменяется */
  object-fit: cover; /* Обеспечивает покрытие всей видимой области */
}

.description {
  padding: 15px; /* Отступы внутри описания */
}

.description h3 {
  margin-top: 0; /* Убирает верхний отступ у заголовка */
  color: #333; /* Цвет заголовка */
}

.description p {
  color: #666; /* Цвет текста описания */
  line-height: 1.6; /* Межстрочный интервал */
}

.contact-container {
  padding: 40px;
  max-width: 600px;
  margin: 0 auto;
  background: #f9f9f9; /* Светлый фон для контейнера */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Тень для современного "поднятого" вида */
  border-radius: 15px; /* Скругленные углы для эстетики */
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
  text-align: center;
  justify-content: flex-start; /* Распределение содержимого слева направо */
  padding: 10px;
  border-bottom: 1px solid #eee; /* Легкая линия под каждым контактом */
}

.contact-item:last-child {
  border-bottom: none; /* Убрать линию у последнего элемента */
}

.contact-item img {
  width: 40px; /* Увеличенный размер для лучшего восприятия */
  height: 40px;
  margin-right: 20px; /* Увеличенный отступ для визуального разделения */
  filter: grayscale(100%); /* Черно-белый фильтр для стильного вида */
  transition: filter 0.3s; /* Плавное возвращение цвета при наведении */
}

.contact-item img:hover {
  filter: grayscale(0); /* Возвращение цвета при наведении */
}

.contact-container h1 {
  text-align: center;
  margin-bottom: 2em;
  font-size: 2em;
  color: #333;
}

.contact-container a {
  color: #0077cc; /* Яркий цвет для ссылок */
  text-decoration: none;
  transition: color 0.3s; /* Плавное изменение цвета при наведении */
}

.contact-container a:hover {
  color: #005fa3; /* Темнее при наведении */
  text-decoration: underline; /* Подчеркивание при наведении */
}

.contact-container span {
  font-weight: 600; /* Более жирный шрифт для названия контактов */
  color: #555; /* Темно-серый цвет текста для лучшей читаемости */
    margin-right: 2%;
}



/* Стили контейнера для отзывов */
.reviews-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Заголовок для списка отзывов */
.reviews-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 5%;
}

/* Список отзывов с классом для элементов */
.reviews-list {
    list-style-type: none;
    padding: 0;
}

.reviews-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 8px;
}

/* Стиль для блока каждого отзыва */
.review-header {
    font-size: 18px;
    font-weight: bold;
    color: #0056b3;
}

.review-date {
    font-size: 14px;
    color: #666;
}

.review-text {
    font-size: 16px;
    line-height: 1.4;
    color: #333;
}

.review-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-top: 10px;
}

/* Стилизация формы добавления отзыва */
.reviews-form {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.reviews-input, .reviews-textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.reviews-submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.reviews-submit-button:hover {
    background-color: #45a049;
}

.capcha {
    margin-top: 2%;
    margin-bottom: 3%;
}

@media (max-width: 1500px) {
    html {
        font-size: 17px; /* Меньший размер шрифта для мобильных устройств */
    }

    .container {
        max-width: 100%; /* Увеличение ширины до 100% */
    margin: 0; /* Удаление верхних и боковых отступов */
    padding: 0; /* Уменьшение внутренних отступов */
    border-radius: 0; /* Убираем скругление углов */
    }

    .main {
        margin-bottom: 0;
    }

    header {
        flex-direction: column; /* Элементы header теперь расположены вертикально */
        padding-top: 30px;
        padding-bottom: 3%;
        margin-top: 0;
        border-bottom: 1px solid #eeeeee;
        gap: 10px; /* Добавление пространства между элементами в header */
    }

    .logo, .clock, .sections {
        flex-basis: 100%; /* Оба элемента занимают всю ширину */
        justify-content: center; /* Центрирование элементов */
        margin-bottom: 10px;
        align-items: center;
        text-align: center; /* Центрирование текста */
    }

    .light {
        margin-left: 10%;
    }

    .sections ul {
        flex-direction: column; /* Навигационные ссылки теперь вертикально */
        align-items: center; /* Центрирование элементов списка */
    }

    .sections li {
        margin-right: 0; /* Удаление правого отступа */
        margin-bottom: 0.5rem; /* Добавление нижнего отступа для разделения элементов */
    }

    .sections li:not(:last-child):after {
        display: none; /* Убрать разделители, так как элементы теперь вертикальные */
    }

    .photo {
        width: 50vw; /* Ширина 50% от ширины вьюпорта */
        height: 50vw; /* Высота также 50% от ширины вьюпорта, чтобы сохранить пропорции круга */
        border-radius: 50%; /* Сохранение круглой формы */
        object-fit: cover; /* Убедиться, что изображение полностью покрывает элемент без искажения */
        margin: 0 auto; /* Центрирование фотографии */
        display: block;
    }

    .main, .photo-container {
        flex-direction: column; /* Все главные разделы теперь вертикальные */
    }

    .content {
        max-width: 90%; /* Увеличение ширины текстового контента */
        padding: 0.5rem;
        margin: 0 auto; /* Центрирование контента */
    }

    .projects-container {

        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Создание сетки с динамическим количеством колонок */
        gap: 10px; /* Расстояние между карточками проектов */
    }

    .reviews-container {
        border: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .reviews-title {
        text-align: center;
        padding-bottom: 2%;
        margin-top: 0;
        margin-bottom: 8%;
    }

    .reviews-form {
        margin-top: 12%;
    }


    .contact-container {
        padding: 20px 15px; /* Уменьшенные отступы с сохранением пространства по бокам */
        max-width: 85%; /* Ограничиваем максимальную ширину контейнера */
        margin: 0 auto; /* Центрирование контейнера */
        background: #f7f7f7; /* Светлый фон для контейнера */
        box-shadow: 0 2px 10px rgba(0,0,0,0.2); /* Тень для создания "выпуклого" эффекта */
        border-radius: 10px; /* Скругленные углы для эстетического вида */
    }

    .contact-item {
        display: flex;
        width: 92%;
        align-items: center; /* Выравнивание элементов по центру по вертикали */
        margin-bottom: 20px; /* Увеличенное расстояние между элементами */
        padding: 12px; /* Подушки внутри каждого контактного элемента */
        background: #ffffff; /* Фон для каждого контактного элемента */
        box-shadow: 0 1px 6px rgba(0,0,0,0.1); /* Легкая тень под каждым элементом */
        border-radius: 5px; /* Скругленные углы у каждого элемента */
    }

    .contact-item img {
        filter: grayscale(0);
        width: 20px; /* Немного уменьшаем размер иконок */
        height: 20px;
        margin-right: 10px; /* Увеличиваем отступ справа от иконки */
    }

    .contact-item span {
        color: #404040; /* Яркий цвет для выделения текста меток (например, "Телеграм:") */
        font-weight: bold; /* Делаем шрифт жирным для лучшей видимости */
    }

    .contact-item a {
        color: #3A5FFF; /* Цвет ссылок */
        text-decoration: none; /* Убираем подчеркивание */
        font-weight: normal; /* Стандартный вес шрифта для ссылок */
    }

    .contact-container h1 {
        font-size: 1.75em; /* Уменьшаем размер заголовка для адаптации */
        text-align: center; /* Выравнивание заголовка по центру */
        margin-bottom: 20px; /* Увеличенный отступ снизу у заголовка */
    }

    .dark-mode .contact-container {
        background: #333; /* Темнее фон для темной темы */
        color: #ccc; /* Светло-серый текст для темной темы */
    }

    .dark-mode .contact-item {
        background: #424242; /* Темно-серый фон для каждого элемента в темной теме */
    }

  .project {
      height: 500px;
        padding: 10px; /* Увеличение внутренних отступов для лучшей визуальной изоляции текста */
        overflow: hidden; /* Обеспечивает, что все внутри блока останется в пределах его границ */
        text-overflow: ellipsis; /* Добавляет многоточие, если текст не умещается в одну строку */
        word-wrap: break-word; /* Позволяет словам переноситься, предотвращая выход текста за пределы блока */
    }

    .description {
        font-size: 0.9rem; /* Уменьшение размера шрифта для более компактного размещения текста */
        line-height: 1.2; /* Уменьшение межстрочного интервала для экономии вертикального пространства */
    }

    .project h3, .project p {
        margin: 5px 0; /* Уменьшение верхнего и нижнего отступов для заголовков и параграфов */
    }

}