/* Стили для экранов с разрешением более 2000px */
@media (min-width: 2000px) {
    html {
        font-size: 17px; /* Размер шрифта для крупных экранов */
        font-family: 'Montserrat', sans-serif; /* Шрифт для всей страницы */
        color: #333; /* Цвет текста */
    }

    .container {
        min-height: 1000px; /* Минимальная высота контейнера */
        max-width: 70%; /* Максимальная ширина контейнера */
        margin: 2rem auto; /* Отступы сверху и снизу, центрирование */
        background: #ffffff; /* Фон контейнера */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень вокруг контейнера */
        padding: 2rem; /* Внутренние отступы */
        border-radius: 8px; /* Скруглённые углы */
    }
}

/* Стили для экранов с разрешением до 2000px */
@media (max-width: 2000px) {
    html {
        font-size: 15.5px; /* Размер шрифта для меньших экранов */
        font-family: 'Montserrat', sans-serif; /* Шрифт для всей страницы */
        color: #333; /* Цвет текста */
    }

    .container {
        min-height: 800px; /* Минимальная высота контейнера */
        max-width: 75%; /* Максимальная ширина контейнера */
        margin: 2rem auto; /* Отступы сверху и снизу, центрирование */
        background: #ffffff; /* Фон контейнера */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень вокруг контейнера */
        padding: 2rem; /* Внутренние отступы */
        border-radius: 8px; /* Скруглённые углы */
    }
}


body {
      margin: 0;
      line-height: 1.5;
    }

a {
  text-decoration: none; /* Убирает подчеркивание у всех ссылок */
}

.capcha {
    margin-top: 2%;
    margin-bottom: 3%;
}



.dark-mode {
  /* Стили для темной темы */
  background-color: #191919; /* Темный фон для всей страницы */
  color: #ffffff; /* Ярко-белый текст для лучшего контраста и читаемости */
}

.dark-mode body {
  background-color: #1B1B1BFF; /* Темный фон теперь применяется ко всему body, а не только к .container */
}

.dark-mode .container {
  background: #1e1e1e; /* Немного светлее, чтобы контейнер выделялся на общем фоне */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Светлая тень для контейнера в темной теме */
}

.dark-mode .capcha {
    background-color: #333; /* Темный фон */
    padding: 10px;
    border-radius: 8px;
    filter: brightness(0.9) contrast(0.9);
}

.dark-mode a, .dark-mode .sections li, .dark-mode .content h2, .dark-mode .content h3, .dark-mode .description h3 {
  color: #ffffff; /* Установить белый цвет текста для элементов в темной теме */
}

.dark-mode .description p, .dark-mode .about-me p, .dark-mode .tech-stack p {
  color: #b5b5b5; /* Светлый текст для параграфов в темной теме */
}



@media (max-width: 1500px) {
    html {
        font-size: 17px; /* Меньший размер шрифта для мобильных устройств */
    }

    .container {
        max-width: 100%; /* Увеличение ширины до 100% */
    margin: 0; /* Удаление верхних и боковых отступов */
    padding: 0; /* Уменьшение внутренних отступов */
    border-radius: 0; /* Убираем скругление углов */
    }
}