html {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

.container {
  max-width: 70%;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border: 1px solid black;
  margin-bottom: 5%;
}


.logo {
  flex: 1;
  font-weight: bold;
  font-size: 2rem;
}

.sections {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.sections ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.sections li {
  margin-right: 20px;
  cursor: pointer;
}


.sections li:last-child {
  margin-right: 0;
  cursor: pointer;
}

.clock {
  flex: 1;
  text-align: right;
  display: flex; /* Применить flex к контейнеру с часами и иконкой */
  align-items: center; /* Выровнять элементы по центру по вертикали */
  justify-content: flex-end; /* Выровнять элементы по правому краю */
}

.light {
  width: 3%;
  height: auto;
  margin-left: 2%;
  cursor: pointer;
}



.dark-mode {
  background-color: #121212; /* Темный фон для всей страницы */
  color: #ffffff; /* Ярко-белый текст для лучшего контраста и читаемости */
}

.dark-mode .light {
  filter: invert(100%);
}

.dark-mode .photo {
    border: 0 solid #ffffff;
}


.dark-mode header {
  border-color: #333333; /* Граница слегка отличается от фона */
}

.dark-mode .logo, .dark-mode .sections li {
  color: #ffffff; /* Белый текст для лого и навигации */
}

.dark-mode .project {
  background: #1e1e1e; /* Чуть более светлый оттенок черного для фона карточек */
  border-color: #333333; /* Темно-серая граница для карточек */
  color: #ffffff; /* Ярко-белый текст для карточек */
}

.dark-mode .description {
  background: #262626; /* Еще более темный серый для фона описаний внутри карточек */
  color: #ffffff; /* Белый текст внутри описаний для читаемости */
}

.dark-mode .description h3 {
  margin-top: 0; /* Убирает верхний отступ у заголовка */
  color: #ffffff; /* Цвет заголовка */
}

.dark-mode .description p {
  color: #b5b5b5; /* Цвет текста описания */
  line-height: 1.6; /* Межстрочный интервал */
}

.dark-mode .project:hover {
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.05); /* Тень для эффекта наведения, со светлым оттенком */
}

.dark-mode .about-me p {
  color: #ffffff; /* Цвет текста */
  font-size: 1rem;
}

.dark-mode .tech-stack p {
  color: #ffffff; /* Цвет текста */
  font-size: 1rem;
}




.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.photo-container {
  display: flex; /* Используйте flex-режим для контейнера */
  flex-direction: row; /* Элементы располагаются вертикально */
  align-items: center; /* Выравнивание дочерних элементов по центру по горизонтали */
  margin-right: 5%; /* Отступ справа, если он необходим */
  text-align: center; /* Выравнивание текста по центру внутри контейнера */
}

.photo {
  width: 400px; /* Установленная ширина */
  height: 400px; /* Установленная высота, чтобы создать круг */
  border-radius: 50%; /* Создает круглую форму */
  object-fit: cover; /* Обеспечивает, чтобы изображение надлежаще заполняло пространство */
  border: 0 solid black; /* Граница фотографии */
  margin-bottom: 20px; /* Отступ снизу, чтобы отделить фото от текста */
  cursor: pointer; /* Курсор указателя */
}

.content {
  max-width: 30%; /* Максимальная ширина контента */
}

.content h2, .content h3 {
  color: #4CAF50; /* Цвет заголовков */
}

.about-me, .tech-stack {
  margin-bottom: 20px;
}

.about-me p, .tech-stack p {
  color: #191b1e; /* Цвет текста */
  font-size: 1rem;
}

a {
  text-decoration: none; /* Убирает подчеркивание у всех ссылок */
}



.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Адаптивное отображение карточек */
  gap: 20px; /* Расстояние между карточками */
  padding: 20px;
  justify-content: center;
}

.project {
  background: #fff; /* Фон карточки */
  border: 1px solid #e1e1e1; /* Тонкая граница для контура */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень для создания эффекта "всплывания" */
  border-radius: 10px; /* Скругленные углы */
  overflow: hidden; /* Обрезает содержимое и фоновые изображения */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавный эффект для наведения */
}

.project:hover {
  transform: translateY(-5px); /* Поднимает карточку при наведении */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); /* Увеличивает тень при наведении */
}

.img-project {
  width: 100%; /* Ширина изображения равна ширине карточки */
  height: auto; /* Высота автоматически изменяется */
  object-fit: cover; /* Обеспечивает покрытие всей видимой области */
}

.description {
  padding: 15px; /* Отступы внутри описания */
}

.description h3 {
  margin-top: 0; /* Убирает верхний отступ у заголовка */
  color: #333; /* Цвет заголовка */
}

.description p {
  color: #666; /* Цвет текста описания */
  line-height: 1.6; /* Межстрочный интервал */
}

.contact-container {


  padding: 20px;
  max-width: 600px; /* Or as per your layout */
  margin: 0 auto; /* Center the container */
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.contact-item img {
  width: 24px; /* or the size you prefer */
  height: 24px; /* or the size you prefer */
  margin-right: 10px;
}

.contact-container h1 {
  text-align: center;
  margin-bottom: 1.5em;
}

.contact-container p {
  font-size: 1.1em; /* Larger text for better readability */
  margin-bottom: 0.5em;
}

.contact-container a {
  color: #4a90e2; /* A color that stands out */
  text-decoration: none; /* No underlines */
  font-weight: bold; /* Make links bold */
  /* ... other styles ... */
}

.contact-container a:hover {
  text-decoration: underline; /* Reintroduce underline on hover */
  /* ... other styles ... */
}